NODE_ENV="development"
TZ="UTC"

DATABASE_URL="postgresql://postgres:postgres@localhost:8099/postgres?schema=public&connection_limit=50"

IP_INFO_TOKEN=""  # used for https://ipinfo.io endpoints

GLIF_API_BASE_URL="https://api.node.glif.io/rpc"
FILSCAN_API_BASE_URL="https://api-v2.filscan.io/api"

PROMETHEUS_AUTH_TOKEN=""
PROMETHEUS_METRICS_ENV=""

# PO REP
PO_REP_CHAIN_ID=314  # Chain ID on which Po-Rep contracts live

PO_REP_ARCHIVE_RPC_URL="https://filecoin.chain.love/fvm-archive/rpc/v1"  # URL of archive node RPC
PO_REP_ARCHIVE_RPC_AUTH_TOKEN=""  # (Optional) Bearer token that will be included in headers of requests made to archive node

PO_REP_RECENT_RPC_URL=""         # (Optional) URL of recent node RPC, if not provided default URL configured in viem will be used
PO_REP_RECENT_RPC_AUTH_TOKEN=""  # (Optional) Bearer token that will be included in headers of requests made to recent node

SP_REGISTRY_CONTRACT_ADDRESS=""    # Address of SPRegistry contract
PO_REP_MARKET_CONTRACT_ADDRESS=""  # Address of PoRepMarket contract
FILECOIN_PAY_CONTRACT_ADDRESS=""   # Address of FilecoinPayV1 contract
